@import "../css-config/mixins.scss";

.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    .sidebar{
        width: 20%;
        height: 100vh;
    }
    .mainPage{
        width: 80%;
        height: 100vh;
    }
}